extends layout

block content
  h1 GitLab Issue Panel
  div.bubble
    div.issues
      h2 Issues
      each issue in issues
        div(class="issueBubble" id= issue.id)
          header.issueHeader
            h1 #{issue.title}
          div.issueContent
            p(id='desc') Description: #{issue.description}
            p(id='state') State: #{issue.state}
            p(id='cdate') Create date: #{issue.created_at}
            p(id='udate') Update date: #{issue.updated_at}
            p(id='comments') Nb of Comments: #{issue.comments}
            a(href=issue.link) Link to the issue
    div.notification
      h2 Notifications
